# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Test coverage
*.coverage
*.coveragexml
*.testsettings

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# Logs
*.log